* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --red: #be4735;
  --green: #1f8a4c;
  --light-green: #9eac41;
  --dark-green: #17703c;
  --white: #f9f9f9;
  --black: #353636;
}

html, body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  color: var(--black);
  line-height: 1.2;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  background:
    repeating-linear-gradient(
      120deg,
      var(--green) 0px,
      var(--light-green) 41px,
      var(--dark-green) 41px,
      var(--dark-green) 54px
    );
  color: var(--white);
  padding: 1rem 1.5rem;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .16);
  z-index: 100;
}

header h1 {
  font-size: 1.5rem;
}

header h2 {
  font-size: 0.95rem;
  font-weight: 400;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 98px;
  z-index: 10;
}

.content #map {
  width: 80%;
  height: 500px;
  margin: 0 18px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.content .bottom {
  display: flex;
  margin: 48px 0;
}

.content .bottom p {
  display: flex;
  align-items: center;
  white-space: pre-wrap;
  line-height: 1.5;
}

.content img {
  max-width: 400px;  
  margin-right: 48px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.leaflet-popup-content b {
  font-size: 1rem;
}

.watermelon-icon {
  font-size: 24px;
  text-align: center;
  background: none;
  border: none;
}

footer {
  width: 100%;
  padding: 18px 0;
  font-size: 12px;
  text-align: center;
  border-top: 1px solid #e1e1e1;
}

.leaflet-popup-content img {
  max-width: 100%;
  margin: 10px 0 0;
  border-radius: 4px;
}

@media (width < 680px) {
  .content #map {
    width: 90%;
    height: 60vh;
    margin: 0 auto;
  }
  
  .content .bottom {
    flex-direction: column-reverse;
    max-width: 90%;
    margin: 0 auto;
  }

  .content .bottom img {
    margin: 0 0 18px;
  }

  .content .bottom p {
    margin: 18px auto;
  }
}